body {
    padding: 0;
    margin: 0;
}

.left {
    width: 460px;
    height: 440px;
    border: 1px solid black;
    margin-left: 70px;
}

.left-2 {
    width: 460px;
    height: 900px;
    border: 1px solid black;
    margin-left: 70px;
}

.empty-box {
    height: 10px;
}

.right {
    width: 460px;
    height: 440px;
    border: 1px solid black;
    margin-left: 70px;
}
.Under {
    width: 1000px;
    height: 440px;
    border: 1px solid black;
    margin-left: 70px;
    margin-top: 70px;
}
.container{
    padding-left: 10%;
    
}
.footerr{
    width: 1000px;
    height: 200px;
    border: 1px solid black;
    margin-left: 70px;
    margin-top: 70px;
    margin-bottom: 50px;

}
.headerr{
    width: 1517px;
    height: 80px;
    border: 1px solid black;
    margin-bottom: 70px;

}