/* FOOTER */
.footer {
    margin-top: 32px;
    margin-bottom: 32px;
}

.footer__card {
    padding: 16px;
    border: 1px solid black;
    border-radius: 20px;
    bottom: 0px;
    position: relative;
    width: auto;
    height: 250px;
    box-shadow: 1px 1px 1px 1px 0.4;
}

.footer__brand {
    float: left;
    width: 200px;
    height: 100px;
    border: 1px solid black;
}

.brand__text {
    font-size: 13px;
    clear: both;
    margin-left: 16px;
}

.footer__detail {
    flex-wrap: wrap;
    width: 400px;
    display: flex;
    color: blue;
    font-weight: bold;
}

.footer__detail p {
    flex: 0 0 33.333333%;
}


/* HEADER */
#row-1 {
    position: relative;
    top: 16px;
}

#row-2 {
    position: relative;
    margin-top: 56px;
}

#row-3 {
    position: relative;
    margin-top: 56px;
}

.menu_button {
    width: 40px;
    height: 40px;
    background-color: rgb(226, 231, 241);
    text-align: center;
    border-radius: 45px;
    transition: 0.4s;
}

.menu_button i {
    position: relative;
    top: calc(50% - 13px);
}

.menu_button:hover {
    background-color: rgb(168, 180, 191);
    cursor: pointer;
}

#sale {
    color: red;
}

#sale:hover {
    color: blue;
}

.navbar-brand {
    width: 100px;
}

.nav-item {
    margin-left: 5px;
}

#search-bar {}

#search-bar input {
    border-radius: 60px;
    width: 400px;
}

#search-bar button {
    border-radius: 50px;
}

.menu__bar {
    height: fit-content;
    width: auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 16px 32px 16px 32px;
    box-shadow: 0px 3px rgb(205, 205, 205, 0.3);
}

.menu__item {
    margin-right: 16px;
    border-radius: 6px;
    position: relative;
    height: fit-content;
    width: 140px;
    padding: 12px 16px 12px 16px;
    transition: 0.5s;
}

.menu__item:hover {
    background-color: rgb(216, 218, 233);
    cursor: pointer;
}

.menu__img {
    border-radius: 20px;
    height: 35px;
    position: relative;
    width: 35px;
}

.menu__title {
    font-weight: bold;
    margin-left: 8px;
    position: relative;

}

.menu__slider {
    display: flex;
}

.menu__slider .menu_button {
    float: right;
    position: relative;
    top: 8px;

}

.menu_button+.menu_button {
    margin-left: 8px;
}


/* BODY */

.banner__big {
    width: auto;
    height: 370px;
    border-radius: 20px;
}

.banner__img {
    height: 370px;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    border-radius: 20px;
}

.cards {
    width: auto;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    height: fit-content;
    width: auto;
    padding: 16px;
    height: calc(370px / 3 - 8px);
    border-radius: 20px;
    background-color: rgb(235, 246, 255) !important;
}

/* thương hiệu */
.brand__list {
    margin-top: 16px;
    display: flex;
}

.brand__card {
    width: 120px;
    height: 75px;
    border: 1px solid rgb(16, 16, 16, 0.1);
    border-radius: 10px;
    transition: 0.5s;
}

.brand__card+.brand__card {
    margin-left: 8px;
}

.brand__card:hover {
    background-color: rgb(218, 218, 218);
    cursor: pointer;
}

.brand__img {
    top: calc(50% - 20% + 5px);
    position: relative;
    height: 20%;
    width: 60%;
    display: block;
    margin: auto;
    padding: auto;
}

/* Tat ca laptop */
.product__search {
    border-radius: 40px;

}

.product__sort {
    
}

.product__list {}

.product__item {}

.product__name {}

.product__price {}